* {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

:root {
    --color-verde: #00b941;
}

.promotions {
    background-color: var(--color-verde);
    height: 4vh;
    text-align: center;
    align-content: center;
}

.promotion-text {
    color: white;
}

header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

main {
    background-color: #333;
    height: 80vh;
}

#logo {
    width: 9rem;
    height: 2.5rem;
    cursor: pointer;
}

#product-finder {
    padding: 10px 8px;
    width: 30vw;
    border: 2px solid #aaa;
    border-radius: 5px;
}

#product-finder:focus {
    border-color: var(--color-verde);
}

#search-bar i {
    color: #929292;
}

.btns-options {
    color: #666;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #aaa;
    transition: 0.5s;
}

.btns-options:hover {
    transform: scale(1.05);
    color: var(--color-verde);
    border: 2px solid var(--color-verde);
}

#header-options {
    display: flex;
    gap: 10px;
}

#category-options {
    /* border: 2px solid red; */
}

#categorys {
    display: flex;
}