* {
    margin: 0px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

:root {
    --color-green: #00b941;
    --color-orange: #fc7e22;
}

.promotions {
    background-color: var(--color-green);
    height: 4vh;
    text-align: center;
    align-content: center;
}

.promotion-text {
    color: white;
}

body {
    background-color: #ebebeb;
}

header {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 6px 5px -3px #999;
    background-color: white;
}

#header-top {
    gap: 20px;
}

#header-top, #header-bottom {
    display: flex;
}

#logo {
    width: 9rem;
    height: 2.5rem;
    cursor: pointer;
}

#product-finder {
    padding: 10px 8px;
    width: 30vw;
    border: 2px solid #aaa;
    border-radius: 5px;
}

#product-finder:focus {
    border-color: var(--color-green);
}

#search-bar i {
    color: #929292;
}

.btns-options {
    color: #666;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    border-radius: 10px;
    border: 2px solid #aaa;
    transition: 0.5s;
    font-weight: bold;
}

.btns-options:hover {
    transform: scale(1.05);
    color: var(--color-green);
    border: 2px solid var(--color-green);
}

.btns-options:active{
    transition: 0.1s;
    transform: scale(0.99);
    color: var(--color-orange);
    border: 2px solid var(--color-orange);
}

#header-options {
    display: flex;
    gap: 10px;
}
#categories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    gap: 20px;
}

#promotions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 25px;
}




/* -------------------- IMGS ------------------ */

.style-imgs-two{
    border-radius: 20px;
    border: 1px solid #999;
    transition: 0.5s;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
}

.style-imgs-one:hover, .style-imgs-two:hover, .style-imgs-three:hover {
    transform: scale(1.05);
}

.style-imgs-one:active, .style-imgs-two:active, .style-imgs-three:active {
    transition: 0.1s;
    transform: scale(1);
}


.box-imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 15%;
}


.style-imgs-one, .style-imgs-three{
    border-radius: 20px;
    border: 1px solid #999;
    transition: 0.5s;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
}

.img-two {
    width: 31%;
}


/* -------------------- LISTA DE SECCIONES ------------------ */

#categories-list-two {
    margin-top: 90px;
}


#categories-list-two h3 {
    text-align: center;
    width: 40%;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
}

#section-list {
    width: 80%; 
    margin: 0 auto; 
    text-align: center;
}

.btns-categories {
    list-style-type: none;
    border: 1px solid #999 ;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    gap: 8px;
    transition: 0.5s;
}

.btns-categories:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);;
}

.style-list-section {

    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.categorie-img {
    width: 15%;
}